@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fall {
    to {
      transform: translateY(100vh) rotate(360deg);
    }
  }
  .animate-fall {
    animation: fall 3s linear;
  }
}
